{{! Create a table }}
<table id="customers-table" class="main-table">
  <h2>
    Customers
  </h2>
  {{! Header section }}
  <thead>
    {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
    <tr>
      <th>
        Customer Id
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Phone
      </th>
      <th>
        Email
      </th>
      <th>
        Photo
      </th>
      <th>
        Delete
      </th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>
    {{! For each row, print the id, fname, lname, homeworld and age, in order }}
    {{#each data}}
      <tr data-value={{this.id}}>
        <td>
          {{this.id}}
        </td>
        <td>
          {{this.fname}}
        </td>
        <td>
          {{this.lname}}
        </td>
        <td>
          {{this.phone}}
        </td>
        <td>
          {{this.email}}
        </td>
        <td>
          {{this.photo}}
        </td>
        <td>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-danger"
            data-mdb-toggle="modal"
            data-mdb-target="#exampleModal"
          >
            Delete
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Delete Customer Confirmation
        </h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-mdb-dismiss="modal"
        >
          Close
        </button>
        <button type="button" id="confirm-delete" class="btn btn-danger">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<script type="text/javascript">
  $('#exampleModal').on('shown.bs.modal', function(event) {

    // The reference tag is your anchor tag here
    var reference_tag = $(event.relatedTarget); 
    // Clear the modal body
    $(this).find('.modal-body').html('');
    // Append to modal-body the name of the customer 
    var customer_name = reference_tag.parent().parent().children()[1].innerHTML + " " + reference_tag.parent().parent().children()[2].innerHTML;
    $(".modal-body").append("Are you sure you want to delete Customer: " + '<b>' + customer_name + '</b>' + "? This action cannot be undone.");
    // Get the id of the customer
    var customer_id = reference_tag.parent().parent().attr('data-value');
    console.log(customer_id);
    $('#confirm-delete').click(function() {
      deleteCustomer(customer_id);
    });

})
</script>

<br />

<div class="section">
  <h3 class="h3-create">
    Search Customers
  </h3>
  <form id="search-customer" method="GET" action="/customers">
    <label for="input-lname">
      Search by Last Name:
    </label>
    <input
      type="text"
      name="lname"
      id="input-lname-search"
      placeholder="Last Name..."
    />

    <input type="submit" class="btn btn-success" />
    <input type="reset" class="btn btn-danger" />
  </form>
</div>

<!-- /views/index.hbs -->
<div class="section">
  <h3 class="h3-create">
    Create Customer
  </h3>
  <form id="add-customer-form" method="POST" action="/add-customer-form">
    <table class="sub-table">
      <tr>
        <td>
          <label for="input-fname">
            First Name:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-fname"
            id="input-fname"
            required
            placeholder="First Name"
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-lname">
            Last Name:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-lname"
            id="input-lname"
            required
            placeholder="Last Name"
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-phone">
            Phone Number:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-phone"
            id="input-phone"
            required
            placeholder="Phone Number"
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-email">
            Email:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-email"
            id="input-email"
            placeholder="Email"
          />
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-photo">
            Photo:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-photo"
            id="input-photo"
            placeholder="Photo"
          />
        </td>
      </tr>
    </table>

    <div class="form-btns">
      <input type="submit" class="btn btn-success" />
      <input type="reset" class="btn btn-danger" />
    </div>
  </form>
</div>

<div class="section">
  <h3 class="h3-create">
    Update Customer
  </h3>
  <form id="update-customer-form-ajax">
    <table class="sub-table">
      <tr>
        <td>
          <label for="input-fullname">
            Select a Customer to Update:
          </label>
        </td>
        <td>
          <select
            name="input-fullname"
            id="update-name"
            onChange="formFill(this)"
            required
          >
            <option value="test">
              Select a Customer
            </option>
            {{#each data}}
              <option value="{{this.id}}">
                {{this.lname}}, {{this.fname}}
              </option>
            {{/each}}
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-fname">
            First Name:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="update-fname"
            id="update-fname"
            required
            placeholder="Update First Name"
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-lname">
            Last Name:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="update-lname"
            id="update-lname"
            required
            placeholder="Update Last Name"
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-phone">
            Phone Number:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="update-phone"
            id="update-phone"
            required
            placeholder="Update Phone"
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-email">
            Email:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="update-email"
            id="update-email"
            placeholder="Update Email"
          />
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-photo">
            Photo:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="update-photo"
            id="update-photo"
            placeholder="Update Photo"
          />
        </td>
      </tr>
    </table>
    <div class="form-btns">
      <input type="submit" class="btn btn-success" />
      <input type="reset" class="btn btn-danger" />
    </div>
  </form>
</div>
<br />

<script>
  function formFill(data) {
    // Update the form with the selected customer's data
    var id = data.value;
    updateCustomer(id)
    };
</script>

<script src="/js/delete.js"></script>
<script src="/js/updateCustomer.js"></script>