{{! Create a table }}
<table id="customers-table" class="main-table">
  <h2>
    Customers
  </h2>
  {{! Header section }}
  <thead>
    {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
    <tr>
      <th>
        Id
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Phone
      </th>
      <th>
        Email
      </th>
      <th>
        Photo
      </th>
      <th>
        Delete
      </th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>
    {{! For each row, print the id, fname, lname, homeworld and age, in order }}
    {{#each data}}
      <tr data-value={{this.id}}>
        <td>
          {{this.id}}
        </td>
        <td>
          {{this.fname}}
        </td>
        <td>
          {{this.lname}}
        </td>
        <td>
          {{this.phone}}
        </td>
        <td>
          {{this.email}}
        </td>
        <td>
          {{this.photo}}
        </td>
        <td>
          <button onclick="deleteCustomer({{this.id}})">
            Delete
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<br />

<div class="section">
  <h3 class="h3-create">
    Search Customers
  </h3>
  <form id="search-customer" method="GET" action="/customers">
    <label for="input-lname">
      Search by Last Name:
    </label>
    <input type="text" name="lname" id="input-lname-search" />

    <input type="submit" />
    <input type="reset" />
  </form>
</div>

<!-- /views/index.hbs -->
<div class="section">
  <h3 class="h3-create">
    Create Customer
  </h3>
  <form id="add-customer-form" method="POST" action="/add-customer-form">
    <table class="sub-table">
      <tr>
        <td>
          <label for="input-fname">
            First Name:
          </label>
        </td>
        <td>
          <input type="text" name="input-fname" id="input-fname" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-lname">
            Last Name:
          </label>
        </td>
        <td>
          <input type="text" name="input-lname" id="input-lname" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-phone">
            Phone Number:
          </label>
        </td>
        <td>
          <input type="text" name="input-phone" id="input-phone" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-email">
            Email:
          </label>
        </td>
        <td>
          <input type="text" name="input-email" id="input-email" />
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-photo">
            Photo:
          </label>
        </td>
        <td>
          <input type="text" name="input-photo" id="input-photo" />
        </td>
      </tr>
    </table>

    <div class="form-btns">
      <input type="submit" />
      <input type="reset" />
    </div>
  </form>
</div>

<div class="section">
  <h3 class="h3-create">
    Update Customer
  </h3>
  <form id="update-customer-form-ajax">
    <table class="sub-table">
      <tr>
        <td>
          <label for="input-fullname">
            Select a Customer to Update:
          </label>
        </td>
        <td>
          <select
            name="input-fullname"
            id="update-name"
            onChange="formFill(this)"
            required
          >
            <option value="test">
              Select a Customer
            </option>
            {{#each data}}
              <option value="{{this.id}}">
                {{this.lname}}, {{this.fname}}
              </option>
            {{/each}}
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-fname">
            First Name:
          </label>
        </td>
        <td>
          <input type="text" name="update-fname" id="update-fname" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-lname">
            Last Name:
          </label>
        </td>
        <td>
          <input type="text" name="update-lname" id="update-lname" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-phone">
            Phone Number:
          </label>
        </td>
        <td>
          <input type="text" name="update-phone" id="update-phone" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-email">
            Email:
          </label>
        </td>
        <td>
          <input type="text" name="update-email" id="update-email" />
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-photo">
            Photo:
          </label>
        </td>
        <td>
          <input type="text" name="update-photo" id="update-photo" />
        </td>
      </tr>
    </table>
    <div class="form-btns">
      <input type="submit" />
      <input type="reset" />
    </div>
  </form>
</div>
<br />

<script src="/js/delete.js"></script>
<script src="/js/updateCustomer.js"></script>

<script>
  function formFill(data) {
    // Update the form with the selected customer's data
    var id = data.value;
    updateCustomer(id)
    };
</script>