{{! Create a table }}
<table id="guides-table" class="main-table">
  <h2>
    Guides
  </h2>
  {{! Header section }}
  <thead>
    {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
    <tr>
      <th>
        Id
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Phone
      </th>
      <th>
        Email
      </th>
      <th>
        Title
      </th>
      <th>
        Photo
      </th>
      <th>
        Delete
      </th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>
    {{! For each row, print the id, fname, lname, homeworld and age, in order }}
    {{#each data}}
      <tr data-value={{this.id}}>
        <td>
          {{this.id}}
        </td>
        <td>
          {{this.fname}}
        </td>
        <td>
          {{this.lname}}
        </td>
        <td>
          {{this.phone}}
        </td>
        <td>
          {{this.email}}
        </td>
        <td>
          {{this.title}}
        </td>
        <td>
          {{this.photo}}
        </td>
        <td>
          <button onclick="deleteGuide({{this.id}})">
            Delete
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src="/js/delete.js"></script>
<br />

<!-- /views/index.hbs -->
<div class="section">
  <h3 class="h3-create">
    Create Guide
  </h3>
  <form id="add-guide-form" method="POST" action="/add-guide-form">
    <table class="sub-table">
      <tr>
        <td>
          <label for="input-guide-fname">
            Guide First Name:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-guide-fname"
            id="input-guide-fname"
            required
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-guide-lname">
            Guide Last Name:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-guide-lname"
            id="input-guide-lname"
            required
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-guide-phone">
            Guide Phone Number:
          </label>
        </td>
        <td>
          <input
            type="tel"
            name="input-guide-phone"
            id="input-guide-phone"
            required
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-guide-email">
            Guide Email:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-guide-email"
            id="input-guide-email"
            required
          />
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-title">
            Guide Title:
          </label>
        </td>
        <td>
          <input type="text" name="input-title" id="input-title" />
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-photo">
            Guide Photo:
          </label>
        </td>
        <td>
          <input type="text" name="input-photo" id="input-photo" />
        </td>
      </tr>
    </table>
    <div class="form-btns">
      <input type="submit" />
      <input type="reset" />
    </div>
  </form>
</div>

<div class="section">
  <h3 class="h3-create">
    Update Guide
  </h3>
  <form id="update-guide-form-ajax">
    <table class="sub-table">
      <tr>
        <td>
          <label for="input-fullname">
            Select a Guide to Update:
          </label>
        </td>
        <td>
          <select
            name="input-fullname"
            id="update-name"
            onChange="formFill(this)"
            required
          >
            <option value="test">
              Select a Guide
            </option>
            {{#each data}}
              <option value="{{this.id}}">
                {{this.fname}} {{this.lname}}
              </option>
            {{/each}}
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-fname">
            Guide First Name:
          </label>
        </td>
        <td>
          <input type="text" name="update-fname" id="update-fname" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-lname">
            Guide Last Name:
          </label>
        </td>
        <td>
          <input type="text" name="update-lname" id="update-lname" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-phone">
            Guide Phone Number:
          </label>
        </td>
        <td>
          <input type="text" name="update-phone" id="update-phone" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-email">
            Guide Email:
          </label>
        </td>
        <td>
          <input type="text" name="update-email" id="update-email" />
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-title">
            Guide Title:
          </label>
        </td>
        <td>
          <input type="text" name="update-title" id="update-title" />
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-photo">
            Guide Photo:
          </label>
        </td>
        <td>
          <input type="text" name="update-photo" id="update-photo" />
        </td>
      </tr>
    </table>
    <div class="form-btns">
      <input type="submit" />
      <input type="reset" />
    </div>
  </form>
</div>

<script src="/js/delete.js"></script>
<script src="/js/updateGuide.js"></script>

<script>
  function formFill(data) {
    // Update the form with the selected customer's data
    var id = data.value;
    updateGuide(id)
    };
</script>