{{! Create a table }}
<table id="tours-table" class="main-table">
  <h2>
    Tours
  </h2>
  {{! Header section }}
  <thead>
    {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
    <tr>
      <th>
        Id
      </th>
      <th>
        Tour Name
      </th>
      <th>
        Difficulty
      </th>
      <th>
        Price
      </th>
      <th>
        Description
      </th>
      <th>
        Location
      </th>
      <th>
        Image
      </th>
      <th>
        Date
      </th>
      <th>
        Delete
      </th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>
    {{! For each row, print the id, fname, lname, homeworld and age, in order }}
    {{#each data}}
      <tr data-value={{this.id}}>
        <td>
          {{this.id}}
        </td>
        <td>
          {{this.name}}
        </td>
        <td>
          {{this.difficulty}}
        </td>
        <td>
          {{this.price}}
        </td>
        <td>
          {{this.description}}
        </td>
        <td>
          {{this.location}}
        </td>
        <td>
          {{this.cover_image}}
        </td>
        <td>
          {{this.date}} 
        </td>
        <td>
          <button onclick="deleteTour({{this.id}})">
            Delete
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<br />

<!-- /views/index.hbs -->
<div class="section">
  <h3 class="h3-create">
    Create Tour
  </h3>
  <form id="add-tours-form" method="POST" action="/add-tour-form">
    <table class="sub-table">
      <tr>
        <td>
          <label for="input-tour-name">
            Tour Name:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-tour-name"
            id="input-tour-name"
            required
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-difficulty">
            Tour Difficulty:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-difficulty"
            id="input-difficulty"
            required
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-price">
            Price:
          </label>
        </td>
        <td>
          <input type="number" name="input-price" id="input-price" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-description">
            Tour Description:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-description"
            id="input-description"
            required
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-location">
            Tour Location:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-location"
            id="input-location"
            required
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-date">
            Tour Date:
          </label>
        </td>
        <td>
          <input type="date" name="input-date" id="input-date" date />
        </td>
        <td>
          *Required
        </td>
      </tr>


      <tr>
        <td>
          <label for="input-cover">
            Tour Cover Image:
          </label>
        </td>
        <td>
          <input type="text" name="input-cover" id="input-cover" />
        </td>
      </tr>

    </table>

    <div class="form-btns">
      <input type="submit" />
      <input type="reset" />
    </div>
  </form>
</div>

<div class="section">
  <h3 class="h3-create">
    Update Tour
  </h3>
  <form id="update-tour-form-ajax">
    <table class="sub-table">
      <tr>
        <td>
          <label for="update-tourname">
            Select a Tour to Update:
          </label>
        </td>
        <td>
          <select
            name="update-tourname"
            id="update-tourname"
            onChange="formFill(this)"
            required
          >
            <option value="test">
              Select a Tour
            </option>
            {{#each data}}
              <option value="{{this.id}}">
                {{this.name}}
              </option>
            {{/each}}
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-name">
            Tour Name:
          </label>
        </td>
        <td>
          <input type="text" name="update-name" id="update-name" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-difficulty">
            Tour Difficulty:
          </label>
        </td>
        <td>
          <input type="text" name="update-difficulty" id="update-difficulty" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-price">
            Price:
          </label>
        </td>
        <td>
          <input type="number" name="update-price" id="update-price" required />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-description">
            Tour Description:
          </label>
        </td>
        <td>
          <input type="text" name="update-description" id="update-description" required/>
        </td>
        <td>
          *Required
        </td>
      </tr>


      <tr>
        <td>
          <label for="update-location">
            Tour Location:
          </label>
        </td>
        <td>
          <input type="text" name="update-location" id="update-location" required />
        </td>
        <td>
          *Required
        </td>

      </tr>

      <tr>
        <td>
          <label for="update-date">
            Tour Date:
          </label>
        </td>
        <td>
          <input type="date" name="update-date" id="update-date" required />
        </td>
        <td>
          *Required
        </td>

        
      <tr>
        <td>
          <label for="update-cover">
            Tour Cover Image:
          </label>
        </td>
        <td>
          <input type="text" name="update-cover" id="update-cover" />
        </td>
      </tr>

    </table>
    <div class="form-btns">
      <input type="submit" />
      <input type="reset" />
    </div>
  </form>
</div>

<br />

<script src="/js/delete.js"></script>
<script src="/js/updateTour.js"></script>

<script>
  function formFill(data) {
    // Update the form with the selected customer's data
    var id = data.value;
    console.log(id);
    updateTours(id)
    };

  function convert(str) {
  var date = new Date(str),
    mnth = ('0' + (date.getMonth() + 1)).slice(-2),
    day = ('0' + date.getDate()).slice(-2);
  return [date.getFullYear(), mnth, day].join('-');
}
</script>