{{! Create a table }}
<table id="tours-table" class="main-table">
  <h2>
    Tours
  </h2>
  {{! Header section }}
  <thead>
    {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
    <tr>
      <th>
        Tour Id
      </th>
      <th>
        Tour Name
      </th>
      <th>
        Difficulty
      </th>
      <th>
        Price
      </th>
      <th>
        Description
      </th>
      <th>
        Location
      </th>
      <th>
        Image
      </th>
      <th>
        Date
      </th>
      <th>
        Delete
      </th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>
    {{! For each row, print the id, fname, lname, homeworld and age, in order }}
    {{#each data}}
      <tr data-value={{this.id}}>
        <td>
          {{this.id}}
        </td>
        <td>
          {{this.name}}
        </td>
        <td>
          {{this.difficulty}}
        </td>
        <td>
          {{this.price}}
        </td>
        <td>
          {{this.description}}
        </td>
        <td>
          {{this.location}}
        </td>
        <td>
          {{this.cover_image}}
        </td>
        <td>
          {{this.date}} 
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            data-mdb-toggle="modal"
            data-mdb-target="#exampleModal"
          >
            Delete
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Delete Tour Confirmation
        </h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-mdb-dismiss="modal"
        >
          Close
        </button>
        <button type="button" id="confirm-delete" class="btn btn-danger">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<script type="text/javascript">
  $('#exampleModal').on('shown.bs.modal', function(event) {

    // The reference tag is your anchor tag here
    var reference_tag = $(event.relatedTarget); 
    // Clear the modal body
    $(this).find('.modal-body').html('');
    // Append to modal-body the name of the tour 
    var tour_name = reference_tag.parent().parent().children()[1].innerHTML ;
    $(".modal-body").append("Are you sure you want to delete Tour: " + '<b>' + tour_name + '</b>' + "? This action cannot be undone.");
    // Get the id of the tour
    var tour_id = reference_tag.parent().parent().attr('data-value');
    console.log(tour_id);
    $('#confirm-delete').click(function() {
      deleteTour(tour_id);
    });

})
</script>

<br />

<!-- /views/index.hbs -->
<div class="section">
  <h3 class="h3-create">
    Create Tour
  </h3>
  <form id="add-tours-form" method="POST" action="/add-tour-form">
    <table class="sub-table">
      <tr>
        <td>
          <label for="input-tour-name">
            Tour Name:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-tour-name"
            id="input-tour-name"
            required
             placeholder="Tour Name"
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-difficulty">
            Tour Difficulty:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-difficulty"
            id="input-difficulty"
            required
            placeholder="Tour Difficulty"
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-price">
            Price:
          </label>
        </td>
        <td>
          <input type="number" name="input-price" id="input-price" required 
          placeholder="Price"/>
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-description">
            Tour Description:
          </label>
        </td>
          <td><textarea name="input-description" id="input-description" required placeholder="Tour Description"></textarea></td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-location">
            Tour Location:
          </label>
        </td>
        <td>
          <input
            type="text"
            name="input-location"
            id="input-location"
            required
            placeholder="Tour Location"
          />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-date">
            Tour Date:
          </label>
        </td>
        <td>
          <input type="date" name="input-date" id="input-date" date />
        </td>
        <td>
          *Required
        </td>
      </tr>


      <tr>
        <td>
          <label for="input-cover">
            Tour Cover Image:
          </label>
        </td>
        <td>
          <input type="text" name="input-cover" id="input-cover" placeholder="Cover Image"/>
        </td>
      </tr>

    </table>

    <div class="form-btns">
      <input type="submit" class="btn btn-success"/>
      <input type="reset" class="btn btn-danger"/>
    </div>
  </form>
</div>

<div class="section">
  <h3 class="h3-create">
    Update Tour
  </h3>
  <form id="update-tour-form-ajax">
    <table class="sub-table">
      <tr>
        <td>
          <label for="update-tourname">
            Select a Tour to Update:
          </label>
        </td>
        <td>
          <select
            name="update-tourname"
            id="update-tourname"
            onChange="formFill(this)"
            required
          >
            <option value="test">
              Select a Tour
            </option>
            {{#each data}}
              <option value="{{this.id}}">
                {{this.name}}
              </option>
            {{/each}}
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-name">
            Tour Name:
          </label>
        </td>
        <td>
          <input type="text" name="update-name" id="update-name" required placeholder="Update Tour Name"/>
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-difficulty">
            Tour Difficulty:
          </label>
        </td>
        <td>
          <input type="text" name="update-difficulty" id="update-difficulty" required placeholder="Update Difficulty"/>
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-price">
            Price:
          </label>
        </td>
        <td>
          <input type="number" name="update-price" id="update-price" required placeholder="Update Price" />
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="update-description">
            Tour Description:
          </label>
        </td>
          <td><textarea name="update-description" id="update-description" required placeholder="Update Description"></textarea></td>
        <td>
          *Required
        </td>
      </tr>


      <tr>
        <td>
          <label for="update-location">
            Tour Location:
          </label>
        </td>
        <td>
          <input type="text" name="update-location" id="update-location" required placeholder="Update Location"/>
        </td>
        <td>
          *Required
        </td>

      </tr>

      <tr>
        <td>
          <label for="update-date">
            Tour Date:
          </label>
        </td>
        <td>
          <input type="date" name="update-date" id="update-date" required placeholder="Update Date"/>
        </td>
        <td>
          *Required
        </td>

        
      <tr>
        <td>
          <label for="update-cover">
            Tour Cover Image:
          </label>
        </td>
        <td>
          <input type="text" name="update-cover" id="update-cover" placeholder="Update Image"/>
        </td>
      </tr>

    </table>
    <div class="form-btns">
      <input type="submit" class="btn btn-success"/>
      <input type="reset" class="btn btn-danger"/>
    </div>
  </form>
</div>

<br />

<script src="/js/delete.js"></script>
<script src="/js/updateTour.js"></script>

<script>
  function formFill(data) {
    // Update the form with the selected customer's data
    var id = data.value;
    console.log(id);
    updateTours(id)
    };

  function convert(str) {
  var date = new Date(str),
    mnth = ('0' + (date.getMonth() + 1)).slice(-2),
    day = ('0' + date.getDate()).slice(-2);
  return [date.getFullYear(), mnth, day].join('-');
}
</script>