{{! Create a table }}
<table id="logs-table" class="main-table">
  <h2>
    Trip Logs
  </h2>
  {{! Header section }}
  <thead>
    {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
    <tr>
      <th>
        Id
      </th>
      <th>
        Customer Id
      </th>
      <th>
        Guide Id
      </th>
      <th>
        Tour Id
      </th>
      <th>
        Delete
      </th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>
    {{! For each row, print the id, fname, lname, homeworld and age, in order }}
    {{#each data}}
      <tr>
        <td>
          {{this.id}}
        </td>
        <td>
          {{this.customer_id}}
        </td>
        <td>
          {{this.guide_id}}
        </td>
        <td>
          {{this.tour_id}}
        </td>
        <td>
          <button onclick="deleteTrip_Logs({{this.id}})">
            Delete
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src="/js/delete.js"></script>
<br />

<!-- /views/index.hbs -->
<div class="section">
  <h3 class="h3-create">
    Trip Logs
  </h3>
  <form id="add-log-form" method="POST" action="/add-log-form">
    <table class="sub-table">
      <tr>
        <td>
          <label for="input-log-customer">
            Customer:
          </label>
        </td>
        <td>
          <select
            name="input-log-customer"
            id="input-log-customer-ajax"
            required
          >
            <option value="">
              Select a Customer
            </option>
            {{#each results.customers}}
              <option value="{{this.id}}">
                {{this.lname}}, {{this.fname}}
              </option>
            {{/each}}
          </select>
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-log-tour">
            Tour:
          </label>
        </td>
        <td>
          <select name="input-log-tour" id="input-log-tour-ajax" required>
            <option value="">
              Select a Tour
            </option>
            {{#each results.tours}}
              <option value="{{this.id}}">
                {{this.name}}
              </option>
            {{/each}}
          </select>
        </td>
        <td>
          *Required
        </td>
      </tr>

      <tr>
        <td>
          <label for="input-log-guide">
            Guide:
          </label>
        </td>
        <td>
          <select name="input-log-guide" id="input-log-guide-ajax" required>
            <option value="">
              Select a Guide
            </option>
            {{#each results.guides}}
              <option value="{{this.id}}">
                {{this.lname}}, {{this.fname}}
              </option>
            {{/each}}
          </select>
        </td>
        <td>
          *Required
        </td>
      </tr>
    </table>

    <div class="form-btns">
      <input type="submit" />
      <input type="reset" />
    </div>
  </form>
</div>