{{! Create a table }}
<table id='logs-table'>

  {{! Header section }}
  <thead>

    {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
    <tr>
      <th>Id</th>
      <th>Customer Id</th>
      <th>Guide Id</th>
      <th>Tour Id</th>
      <th>Delete</th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>

    {{! For each row, print the id, fname, lname, homeworld and age, in order }}
    {{#each data}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.customer_id}}</td>
        <td>{{this.guide_id}}</td>
        <td>{{this.tour_id}}</td>
        <td><button onclick="deleteLog({{this.id}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src="/js/delete.js"></script>

<!-- /views/index.hbs -->
<h2>Adding Data using an HTML form</h2>
<p>To add a new person, please enter their information below nad click `Submit`!</p>
<form id='add-log-form' method='POST' action='/add-log-form'>

    <label for='input-log-customer'>Customer: </label>
    <select name="input-log-customer" id="input-log-customer-ajax">
        <option value="">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.customer_id}}">{{this.lname}}, {{this.fname}} </option>
        {{/each}}
    </select>

    <label for='input-log-tour'>Tour: </label>
    <select name="input-log-tour" id="input-log-tour-ajax">
        <option value="">Select a Tour</option>
        {{#each tours}}
        <option value="{{this.tour_id}}">{{this.tour_name}}</option>
        {{/each}}
    </select>

    <label for='input-log-guide'>Guide: </label>
    <select name="input-log-guide" id="input-log-guide-ajax">
        <option value="">Select a Guide</option>
        {{#each guides}}
        <option value="{{this.guide_id}}">{{this.guide_lname}}, {{this.guide_fname}}</option>
        {{/each}}
    </select>

  <input type='submit' />
</form>